<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <li id="chat-messages-979156262631649311-1178867625036627978" class="messageListItem__6a4fb" aria-setsize="-1">
        <div class="message__80c10 groupStart__56db5 wrapper__09ecc compact__54ecc zalgo__39311" role="article"
            data-list-item-id="chat-messages___chat-messages-979156262631649311-1178867625036627978" tabindex="-1"
            aria-setsize="-1" aria-roledescription="Message"
            aria-labelledby="message-username-1178867625036627978 uid_1 message-content-1178867625036627978 message-accessories-1178867625036627978 uid_2 message-timestamp-1178867625036627978">
            <div class="contents_f41bb2">
                <h3 class="header__39b23"
                    aria-labelledby="message-username-1178867625036627978 message-timestamp-1178867625036627978">
                    <span class="latin12CompactTimeStamp__75bf7 timestamp_cdbd93"><time
                            aria-label="28 November 2023 01:19" id="message-timestamp-1178867625036627978"
                            datetime="2023-11-28T01:19:04.110Z"><i class="separator__3f416"
                                aria-hidden="true">[</i>01:19<i class="separator__3f416" aria-hidden="true">]
                            </i></time></span><span id="message-username-1178867625036627978"
                        class="headerText_f47574"><span
                            class="username_d30d99 desaturateUserColors_b72bd3 clickable_d866f1" aria-expanded="false"
                            role="button" tabindex="0">Mercyless Reap</span><i class="separator__3f416">:</i> </span>
                </h3>
                <div id="message-content-1178867625036627978" class="markup_a7e664 messageContent__21e69"><a
                        class="anchor_c8ddc0 anchorUnderlineOnHover__78236"
                        href="https://youtube.com/live/HeEyP8ndX6Y?feature=share" rel="noreferrer noopener"
                        target="_blank" title="https://youtube.com/live/HeEyP8ndX6Y?feature=share" role="button"
                        tabindex="0"><span>https://youtube.com/live/HeEyP8ndX6Y?feature=share</span></a></div>
            </div>
            <div id="message-accessories-1178867625036627978" class="container_dbadf5">
                <article class="embedWrapper_c143d9 embedFull__8dc21 embed_d3cbe3 markup_a7e664 justifyAuto__70e6c"
                    aria-hidden="false" style="max-width: 432px;">
                    <div class="gridContainer_de8cdc">
                        <div class="grid_c7c4e6">
                            <div class="embedSuppressButton_df9a75" aria-label="Remove all embeds" role="button"
                                tabindex="0"><svg aria-hidden="true" role="img" width="16" height="16"
                                    viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M18.4 4L12 10.4L5.6 4L4 5.6L10.4 12L4 18.4L5.6 20L12 13.6L18.4 20L20 18.4L13.6 12L20 5.6L18.4 4Z">
                                    </path>
                                </svg></div>
                            <div class="embedProvider_cfa718 embedMargin__9576e"><a
                                    class="anchor_c8ddc0 anchorUnderlineOnHover__78236 embedLink__00ab9" tabindex="0"
                                    href="https://www.youtube.com/" rel="noreferrer noopener" target="_blank"
                                    role="button">YouTube</a></div>
                            <div class="embedAuthor_cb4bfc embedMargin__9576e"><a
                                    class="anchor_c8ddc0 anchorUnderlineOnHover__78236 embedAuthorNameLink_b25226 embedLink__00ab9 embedAuthorName_a1274b"
                                    tabindex="0" href="https://www.youtube.com/@MercylessReap" rel="noreferrer noopener"
                                    target="_blank" role="button">Mercyless Reap</a></div>
                            <div class="embedTitle__31740 embedMargin__9576e"><a
                                    class="anchor_c8ddc0 anchorUnderlineOnHover__78236 embedTitleLink__0caf9 embedLink__00ab9 embedTitle__31740"
                                    tabindex="0" href="https://youtube.com/live/HeEyP8ndX6Y?feature=share"
                                    rel="noreferrer noopener" target="_blank" role="button">Test Broadcast</a></div>
                            <div class="embedVideo__0c65b embedMedia_b473d2" style="max-width: 400px;">
                                <div class="imageContent__24964 embedVideoImageComponent__7194f">
                                    <div class="imageContainer__04362">
                                        <div class="imageWrapper_fd6587 imageZoom_ceab9d clickable_dc48ac"
                                            style="max-width: 400px; width: 100%; aspect-ratio: 400 / 225;"><a
                                                tabindex="-1" aria-hidden="true" class="originalLink__94d5d" href=""
                                                data-role="img"
                                                data-safe-src="https://images-ext-1.discordapp.net/external/mdGhuNDdP2KSUML3PuGaCEsKGiS1a4GT45Z9R9oWlz0/https/i.ytimg.com/vi/HeEyP8ndX6Y/hqdefault_live.jpg?format=webp"></a>
                                            <div class="clickableWrapper__64072" tabindex="0" aria-label="Image"
                                                aria-describedby="uid_4" role="button"><img
                                                    class="embedVideoImageComponentInner__6c3d8" alt="Image"
                                                    src="https://images-ext-1.discordapp.net/external/mdGhuNDdP2KSUML3PuGaCEsKGiS1a4GT45Z9R9oWlz0/https/i.ytimg.com/vi/HeEyP8ndX6Y/hqdefault_live.jpg?format=webp"
                                                    style="max-width: 400px; max-height: 225px; width: 100%; display: block; aspect-ratio: 400 / 225;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="embedVideoActions__7513f">
                                    <div class="centerContent__4a3dd">
                                        <div class="wrapper__5036f">
                                            <div class="iconWrapperActive__72b35 iconWrapper_befcef" tabindex="0"
                                                aria-label="Play" role="button"><svg class="iconPlay__10d9a icon__7f3d8"
                                                    aria-hidden="true" role="img" width="16" height="16"
                                                    viewBox="0 0 18 18" fill="none">
                                                    <path
                                                        d="M6.01053 2.82974C5.01058 2.24153 3.75 2.96251 3.75 4.12264V13.8774C3.75 15.0375 5.01058 15.7585 6.01053 15.1703L14.3021 10.2929C15.288 9.71294 15.288 8.28709 14.3021 7.70711L6.01053 2.82974Z"
                                                        fill="currentColor"></path>
                                                </svg></div><a
                                                class="anchor_c8ddc0 anchorUnderlineOnHover__78236 iconWrapperActive__72b35 iconWrapper_befcef"
                                                href="https://youtube.com/live/HeEyP8ndX6Y?feature=share"
                                                rel="noreferrer noopener" target="_blank" role="button" tabindex="0">
                                                <svg aria-label="Open Link"
                                                    class="iconExternalMargins_f806ca icon__7f3d8" aria-hidden="false"
                                                    role="img" width="16" height="16" viewBox="0 0 24 24">
                                                    <path fill="currentColor" transform="translate(3.000000, 4.000000)"
                                                        d="M16 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h4v-2H2V4h14v10h-4v2h4c1.1 0 2-.9 2-2V2a2 2 0 0 0-2-2zM9 6l-4 4h3v6h2v-6h3L9 6z">
                                                    </path>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="buttonContainer_dd4b62">
                <div class="buttons__3766a container__9d616" role="group" aria-label="Message Actions">
                    <div class="buttonsInner_bca8fa wrapper_c727b6">
                        <div class="button_d553e5" aria-label="Add Reaction" aria-expanded="false" role="button"
                            tabindex="0">
                            <svg class="icon_bdb038" aria-hidden="true" role="img" width="18" height="18"
                                viewBox="0 0 24 24">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12.1151 2.00065C12.0768 2.00022 12.0384 2 12 2C6.477 2 2 6.477 2 12C2 17.522 6.477 22 12 22C17.523 22 22 17.522 22 12C22 11.9616 21.9998 11.9232 21.9993 11.8849C21.1882 12.1737 20.3146 12.3309 19.4043 12.3309C15.1323 12.3309 11.6691 8.86771 11.6691 4.59565C11.6691 3.68536 11.8263 2.8118 12.1151 2.00065ZM7.92105 11.8023C7.92105 12.7107 7.18468 13.4471 6.27631 13.4471C5.36795 13.4471 4.63158 12.7107 4.63158 11.8023C4.63158 10.894 5.36795 10.1576 6.27631 10.1576C7.18467 10.1576 7.92105 10.894 7.92105 11.8023ZM10.5217 14.5171C10.3859 13.9893 9.84786 13.6716 9.32005 13.8074C8.79223 13.9433 8.47448 14.4813 8.61033 15.0091C9.01196 16.5695 10.4273 17.7236 12.1147 17.7236C13.8021 17.7236 15.2174 16.5695 15.6191 15.0091C15.7549 14.4813 15.4372 13.9433 14.9093 13.8074C14.3815 13.6716 13.8435 13.9893 13.7077 14.5171C13.525 15.2267 12.8797 15.7499 12.1147 15.7499C11.3497 15.7499 10.7044 15.2267 10.5217 14.5171Z"
                                    fill="currentColor"></path>
                                <path
                                    d="M18.5 2C17.9477 2 17.5 2.44772 17.5 3V4.5H16C15.4477 4.5 15 4.94771 15 5.5C15 6.05228 15.4477 6.5 16 6.5H17.5V8C17.5 8.55228 17.9477 9 18.5 9C19.0523 9 19.5 8.55229 19.5 8V6.5H21C21.5523 6.5 22 6.05229 22 5.5C22 4.94772 21.5523 4.5 21 4.5H19.5V3C19.5 2.44772 19.0523 2 18.5 2Z"
                                    fill="currentColor"></path>
                            </svg>
                        </div>
                        <div class="button_d553e5" aria-label="Edit" role="button" tabindex="0">
                            <svg class="icon_d1ac81" aria-hidden="true" role="img" width="16" height="16"
                                viewBox="0 0 24 24">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M19.2929 9.8299L19.9409 9.18278C21.353 7.77064 21.353 5.47197 19.9409 4.05892C18.5287 2.64678 16.2292 2.64678 14.817 4.05892L14.1699 4.70694L19.2929 9.8299ZM12.8962 5.97688L5.18469 13.6906L10.3085 18.813L18.0201 11.0992L12.8962 5.97688ZM4.11851 20.9704L8.75906 19.8112L4.18692 15.239L3.02678 19.8796C2.95028 20.1856 3.04028 20.5105 3.26349 20.7337C3.48669 20.9569 3.8116 21.046 4.11851 20.9704Z"
                                    fill="currentColor"></path>
                            </svg>
                        </div>
                        <div class="button_d553e5" aria-label="More" aria-expanded="false" role="button" tabindex="0">
                            <svg class="icon_d1ac81" aria-hidden="true" role="img" width="24" height="24"
                                viewBox="0 0 24 24">
                                <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M7 12.001C7 10.8964 6.10457 10.001 5 10.001C3.89543 10.001 3 10.8964 3 12.001C3 13.1055 3.89543 14.001 5 14.001C6.10457 14.001 7 13.1055 7 12.001ZM14 12.001C14 10.8964 13.1046 10.001 12 10.001C10.8954 10.001 10 10.8964 10 12.001C10 13.1055 10.8954 14.001 12 14.001C13.1046 14.001 14 13.1055 14 12.001ZM19 10.001C20.1046 10.001 21 10.8964 21 12.001C21 13.1055 20.1046 14.001 19 14.001C17.8954 14.001 17 13.1055 17 12.001C17 10.8964 17.8954 10.001 19 10.001Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</body>

</html>